# ignore generated json files,
# not anymore, package.json is important, *.json

#ignore node logs
npm-debug.log

#ignore node_modules
node_modules/*
node_modules

# except passwords
pass.js
pass.json
passNothingVille.json

# webstorm-skräp...
*.idea/
