/*container div styling*/
.squarePatients {
  float:left;
  width:100%;
  height:0%; /* 45% */
  background-color: lightgray;
}

.waitingPatients {
  float:left;
  height:55%;
}

.otherPatients {
  float:left;
  clear:right;
  height:55%;
  border-left: solid gray 1px;
}

/*squarePatients grid*/
.grid {
  width: 100%;
  height: 45%;
  /* background-color: aquamarine; */
}

.grid .row{
  margin: 0;
  width:100%;
}

.grid .row .cell{
  float:left;
  height:100%;
  /* border: gray solid 1px; */
}

/* square Patients*/
  li.patientCard{
    height: 100%;
    width: 100%;
    display: inline-block;
  }

  li.patientCard.attention{
    box-shadow: 0px 0px 0px 5px black inset;
    padding: 5px;
  }

  .patientCard.dummy{
    background-color:gray;
    box-shadow: 0px 0px 0px 4px white inset;
    border: gray 1px solid;
  }

    .patientCard.dummy p{
      margin:0px;
      padding:5%;
      color: white;
      font-weight:bold;
    }

/* patient waiting and others */
ul.cardList{
  padding:0px;
  float:left;
  padding:5px;
}
