# ignore node_modules
node_modules/*

# ignore typings (generated stuff)
typings/*

# ignore js files (generated stuff)
*.js

# ignore map files (generated stuff)
*.map

# ignore .idea directory (some webstorm generated stuff)
.idea/
