@font-face {
    font-family: clockFont;
    src: url(/app/fonts/calc.ttf);
}

@font-face {
    font-family: rounded;
    src: url(/app/fonts/Comfortaa_Regular.ttf);
}


h2 {
    clear: both;
    margin:0;
    padding-top: 20px;
    padding-bottom: 10px;
}


.clock {
  font-family: clockFont;
  font-weight: 400;
}

#clock_table{
  text-align: center;
  font-size:130px;
  color: #424242;
  line-height: 0%;
  background-color:dark-gray;
  border-color: #C2C2C2;
  border-width: 3px;
  border-style: solid;"
  style="text-align:center;
}
